body {
  align-items: center;
  background: #ebebeb;
  color: #7d7d7d;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  /* height: 1304px; */
  justify-content: space-around;
  line-height: 175%;
  margin: 18px auto;
  word-spacing: 1px;
  width: 1180px;
  letter-spacing: -0.2px;
}

strong {
  font-weight: 900;
}

a {
  text-decoration: none;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

/* main container */
.main-container {
  background: white;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 1px #dbdbdb;
  margin: 10px 0;
  width: 500px;
}

/* styling header section */
header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 380px;
  justify-content: space-evenly;
}

header p {
  margin: 0 20px;
  text-align: justify;
}

h2 {
  color: #dd5555;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  /* text-shadow: 0 -1px 1px #dd5555; */
  letter-spacing: -1.2px;
}

.hero-img {
  border: 3px solid #cccccc;
  border-radius: 50%;
  height: 103px;
  width: 103px;
}

.button {
  background-color: #dd5555;
  border: none;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -1px;
  margin: -20px 0;
  padding: 7px 10px;
  text-align: center;
}

/* styling social section */
ul {
  align-items: center;
  display: flex;
  font-size: 15px;
  height: 160px;
  justify-content: center;
}

li {
  margin: 0 15px;
}

i {
  color: #cccccc;
  margin-left: 22px;
}

li > a {
  color: #cccccc;
}

/* Styling movies section */
.movies-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 660px;
  justify-content: space-evenly;
}

.movies-container > h3 > span {
  background-color: #d4d4d4;
}

.indiv-movie {
  display: flex;
  margin: 0 30px;
}

.indiv-movie > img {
  flex-shrink: 0;
  height: 118px;
  margin-right: 24px;
  width: 80px;
}

.indiv-movie > article {
  width: 330px;
}

h4 {
  /* font-family: "Montserrat", sans-serif; */
  font-size: 16px;
  letter-spacing: 0;
  margin-bottom: 12px;
}

.movie-desc {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-desc > p {
  text-align: justify;
}
